<!DOCTYPE html>
<html lang="en">
<%- include('./partial/head.ejs') %>
<body>
<%- include('./partial/navbar.ejs') %>


<div class="row row-cols-1 row-cols-md-4">
    <% articles.forEach(article => { %>
        <div class="col mb-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><%= article.title %></h5>
                    <p class="card-text"><%= article.text %></p>
                </div>
            </div>
        </div>
    <% }); %>
</div>
</body>
</html>
