<!DOCTYPE html>
<html lang="en">
<%- include('./partial/head.ejs') %>
<body>
<%- include('./partial/navbar.ejs') %>
<div class="container">
    <%- include('./partial/addForm.ejs') %>
    <script src="./js/updateForm.js"></script>
</div>
</body>
</html>
